___
<img style="float: right; margin: 0px 0px 15px 15px;" 
src="https://www.carrerasenlinea.mx/logos/original/logo-instituto-tecnologico-y-de-estudios
-superiores-de-occidente.png" width="150px" height="100px" />


# MICROESTRUCTURAS Y SISTEMAS DE "TRADING"
# LABORATORIO 4

## Nombres: Ana Laura Correa , Mariana Lopez, Jocelyn Medel

## Fecha: 8 / Diciembre / 2019

#### Propósito: 
Diseñar una estrategia de trading con base a la reacción del precio ante el comunicado de indicadores macroeconómicos (Análisis fundamental).

#### Librerias:

In [1]:
#Importar librerias
import pandas as pd
pd.options.display.max_rows = None
import math 
import pandas as pd
import numpy as np
import warnings
import datetime
import plotly.graph_objects as go
from plotly.subplots import make_subplots
warnings.filterwarnings("ignore")

#### Archivo de Precios Historicos

In [2]:
prices = pd.read_csv('precios_historicos_eurusd.csv',header=0, index_col=None, parse_dates=False)
prices['timestamp'] = [pd.to_datetime(prices.iat[i,0]).tz_localize('GMT') for i in range(len(prices))] # Timestamp a 'GMT'
prices.head()

                  timestamp     open     high      low    close
0 2009-06-01 05:00:00+00:00  1.35564  1.35565  1.35383  1.35439
1 2009-06-01 05:05:00+00:00  1.35443  1.35489  1.35424  1.35474
2 2009-06-01 05:10:00+00:00  1.35480  1.35552  1.35439  1.35539
3 2009-06-01 05:15:00+00:00  1.35545  1.35549  1.35101  1.35101
4 2009-06-01 05:20:00+00:00  1.35101  1.35130  1.35021  1.35086

#### Archivo de Calendario Economico

In [3]:
data = pd.read_csv('calendario_economico.csv',header=0, index_col=None, parse_dates=False)
data.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,1/5/09 9:30,EUR,Sentix Investor Confidence,European Monetary Union,1,-34.4,-42.3,NaN
1,1/5/09 15:00,USD,Construction Spending (MoM),United States,1,-1.2,-0.4,-1.3
2,1/6/09 8:55,EUR,Markit Services PMI,Germany,1,46.6,46.4,46.4
3,1/6/09 9:00,EUR,Markit Services PMI,European Monetary Union,0,42.1,42.0,42.0
4,1/6/09 10:00,EUR,Consumer Price Index (YoY),European Monetary Union,2,1.6,2.1,1.8

In [85]:
Nonfarm = data.loc[data["Name"] == "Nonfarm Payrolls"].reset_index(drop=True) #Resetear el indice, para encontrar calendario económico
Nonfarm.consensus.fillna(Nonfarm.previous, inplace=True) #Formar Dataframe
Nonfarm["timestamp"] = pd.to_datetime(Nonfarm["timestamp"])
Nonfarm["timestamp"] = Nonfarm["timestamp"].dt.tz_localize('GMT')
Nonfarm= Nonfarm.reset_index(drop= True)

### Escenarios del indicador

$A$ = $Actual$ ≥ $Consensus$ ≥ $Previous$

$B$ = $Actual$ ≥ $Consensus$ ≤ $Previous$

$C$ = $Actual$ ≤ $Consensus$ ≥ $Previous$

$D$ = $Actual$ ≤ $Consensus$ ≤ $Previous$

Donde:

$Actual$ : Es el valor actual del indicador.

$Consensus$ : Es el valor del indicador que se pronóstica.

$Previous$ : Es el valor anterior del indicador.

In [5]:
#Función  para encontrar los escenarios

def clase(x):
    """Param x:DataFrame
       Return x:DataFrame con columna de clase"""
    
    x["escenario"] = x["actual"]
    for i in range(len(x["actual"])):
        if x["actual"][i] >= x["consensus"][i] >= x["previous"][i]:
            x["escenario"][i] = "A"
        elif x["actual"][i] >= x["consensus"][i] < x["previous"][i]:
            x["escenario"][i] = "B"
        elif x["actual"][i] < x["consensus"][i] >= x["previous"][i]:
            x["escenario"][i] = "C"
        elif x["actual"][i] < x["consensus"][i] < x["previous"][i]:
            x["escenario"][i] = "D"
    
    return x

In [6]:
#Función para los periodos de 30 minutos antes y después de que se comunicó el índice 

def periodos(x,prices):
    xt = prices["timestamp"].isin(x["timestamp"])
    xt = [i for i in range(len(xt)) if xt[i] == True]
    t = [prices["timestamp"][i] for i in xt]
    xtprt = [prices.iloc[i-6:i+7] for i in xt]
    
    return xtprt,t

In [7]:
# Función para calcular las metricas señaladas 

def metrica(x,y,z):
    dire = lambda x: x.iloc[-1,-1]-x.iloc[int(len(x)/2),1]
    alc = lambda x: x.iloc[int(len(x)/2):,1].max()-x.iloc[int(len(x)/2),1]
    baj = lambda x: x.iloc[int(len(x)/2),1] - x.iloc[int(len(x)/2):,1].min()
    vol = lambda x: x["high"].max() - x["low"].min()
    
    direccion = [dire(i.reset_index(drop=True)) for i in y]
    alcista = [alc(i.reset_index(drop=True)) for i in y]
    bajista = [baj(i.reset_index(drop=True)) for i in y]
    volatilidad = [vol(i) for i in y]
    x = x[x["timestamp"].isin(z)]
    x["direccion"] = direccion
    x["alcista"] = alcista
    x["bajista"] = bajista
    x["volatilidad"] = volatilidad
    
    return x

In [8]:
#Aplicamos las funciones ya explicadas 

Nonfarm = clase(Nonfarm)

In [9]:
Nonfarmper,Nonfarmt = periodos(Nonfarm,prices)

In [10]:
Nonfarm = metrica(Nonfarm,Nonfarmper,Nonfarmt)

In [11]:
Nonfarm.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus,escenario,direccion,alcista,bajista,volatilidad
0,2009-01-09 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-577.0,-584.0,-480.0,C,-0.00006,0.00082,0.00021,0.00419
1,2009-02-06 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-655.0,-577.0,-500.0,C,0.00120,0.00038,0.00036,0.00366
2,2009-03-06 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-651.0,-655.0,-625.0,C,-0.00329,0.00000,0.00168,0.00559
3,2009-04-03 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-699.0,-651.0,-658.0,D,0.00012,0.00125,0.00000,0.00636
4,2009-05-08 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-504.0,-699.0,-620.0,A,0.00487,0.00383,0.00070,0.00668

In [47]:
def escenarios(x,y,z):
    dire = lambda x: 1 if x.iloc[int(len(x)/2)]["close"] <= x.iloc[int(len(x)/2)]["open"]  else -1 
    alc = lambda x: (x.iloc[int(len(x)/2):,1].max()-x.iloc[int(len(x)/2),1])*10000
    baj = lambda x: (x.iloc[int(len(x)/2),1] - x.iloc[int(len(x)/2):,1].min())*10000
    vol = lambda x: x["high"].max() - x["low"].min()
    
    direccion = [dire(i.reset_index(drop=True)) for i in y]
    alcista = [alc(i.reset_index(drop=True)) for i in y]
    bajista = [baj(i.reset_index(drop=True)) for i in y]
    volatilidad = [vol(i) for i in y]
    
    x = x[x["timestamp"].isin(z)]
    x["direccion"] = direccion
    x["alcista"] = alcista
    x["bajista"] = bajista
    x["volatilidad"] = volatilidad
    


    return x

In [57]:
df = escenarios(Nonfarm,Nonfarmper,Nonfarmt)
df_escenarios= df[["timestamp","escenario","direccion","alcista", "bajista", "volatilidad" ]].reset_index(drop= True)
df_escenarios.head()

,timestamp,escenario,direccion,alcista,bajista,volatilidad
0,2009-01-09 13:30:00+00:00,C,1,8.2,2.1,0.00419
1,2009-02-06 13:30:00+00:00,C,1,3.8,3.6,0.00366
2,2009-03-06 13:30:00+00:00,C,1,0.0,16.8,0.00559
3,2009-04-03 12:30:00+00:00,D,-1,12.5,0.0,0.00636
4,2009-05-08 12:30:00+00:00,A,1,38.3,7.0,0.00668

In [28]:
A_count= list(df["escenario"]).count("A")
B_count= list(df["escenario"]).count("B")
C_count= list(df["escenario"]).count("C")
D_count= list(df["escenario"]).count("D")
print('The count of A is:', A_count)
print('The count of B is:', B_count)
print('The count of C is:', C_count)
print('The count of D is:', D_count)

The count of A is: 24
The count of B is: 24
The count of C is: 19
The count of D is: 20

In [29]:
A = df.loc[:,"escenario"] == 'A'
df_A = df.loc[A]
df_A.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus,escenario,direccion,alcista,bajista,volatilidad
4,2009-05-08 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-504.0,-699.0,-620.0,A,1,38.3,7.0,0.00668
7,2009-08-07 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-276.0,-467.0,-345.0,A,1,18.3,6.8,0.00704
8,2009-09-04 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-201.0,-276.0,-223.0,A,-1,4.6,0.4,0.00344
10,2009-11-06 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-111.0,-219.0,-175.0,A,-1,28.6,0.0,0.00464
15,2010-04-02 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,230.0,-14.0,187.0,A,-1,10.2,0.0,0.00180

In [30]:
a=list(df_A["direccion"]).count(1)
promalc_A_m= (df_A["alcista"].min())*1.15
promalc_A_M= (df_A["alcista"].max())*.85
prombaj_A_m= (df_A["bajista"].min())*1.15
prombaj_A_M= (df_A["bajista"].max())*.85

In [31]:
B = df.loc[:,"escenario"] == 'B'
df_B = df.loc[B]
df_B.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus,escenario,direccion,alcista,bajista,volatilidad
5,2009-06-05 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-322.0,-504.0,-521.0,B,-1,13.6,25.8,0.00498
14,2010-03-05 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-14.0,-26.0,-30.0,B,-1,9.4,0.0,0.00200
16,2010-05-07 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,290.0,230.0,177.0,B,1,0.0,23.0,0.00342
20,2010-09-03 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-57.0,-54.0,-105.0,B,-1,13.2,0.0,0.00382
27,2011-04-01 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,221.0,194.0,190.0,B,-1,8.7,3.6,0.00220

In [32]:
b=list(df_B["direccion"]).count(1)
promalc_B_m= (df_B["alcista"].min())*1.15
promalc_B_M= (df_B["alcista"].max())*.85
prombaj_B_m= (df_B["bajista"].min())*1.15
prombaj_B_M= (df_B["bajista"].max())*.85
b

13

In [33]:
C = df.loc[:,"escenario"] == 'C'
df_C = df.loc[C]
df_C.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus,escenario,direccion,alcista,bajista,volatilidad
0,2009-01-09 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-577.0,-584.0,-480.0,C,1,8.2,2.1,0.00419
1,2009-02-06 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-655.0,-577.0,-500.0,C,1,3.8,3.6,0.00366
2,2009-03-06 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-651.0,-655.0,-625.0,C,1,0.0,16.8,0.00559
9,2009-10-02 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-219.0,-201.0,-188.0,C,1,2.8,5.0,0.00356
17,2010-06-04 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,433.0,290.0,502.0,C,1,0.0,25.2,0.00510

In [34]:
c=list(df_C["direccion"]).count(1)
promalc_C_m= (df_C["alcista"].min())*1.15
promalc_C_M= (df_C["alcista"].max())*.85
prombaj_C_m= (df_C["bajista"].min())*1.15
prombaj_C_M= (df_C["bajista"].max())*.85

In [35]:
D = df.loc[:,"escenario"] == 'D'
df_D = df.loc[D]
df_D.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus,escenario,direccion,alcista,bajista,volatilidad
3,2009-04-03 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,-699.0,-651.0,-658.0,D,-1,12.5,0.0,0.00636
23,2010-12-03 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,71.0,172.0,146.0,D,-1,8.1,8.5,0.00406
39,2012-04-06 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,154.0,240.0,203.0,D,1,0.0,16.5,0.00419
49,2013-02-01 13:30:00+00:00,USD,Nonfarm Payrolls,United States,3,119.0,196.0,160.0,D,1,0.0,23.1,0.00482
55,2013-08-02 12:30:00+00:00,USD,Nonfarm Payrolls,United States,3,104.0,188.0,184.0,D,-1,7.0,0.0,0.00161

In [37]:
d=list(df_D["direccion"]).count(-1)
promalc_D_m= (df_D["alcista"].min())*1.15
promalc_D_M= (df_D["alcista"].max())*.85
prombaj_D_m= (df_D["bajista"].min())*1.15
prombaj_D_M= (df_D["bajista"].max())*.85

In [58]:
df_escenarios

,timestamp,escenario,direccion,alcista,bajista,volatilidad
0,2009-01-09 13:30:00+00:00,C,1,8.2,2.1,0.00419
1,2009-02-06 13:30:00+00:00,C,1,3.8,3.6,0.00366
2,2009-03-06 13:30:00+00:00,C,1,0.0,16.8,0.00559
3,2009-04-03 12:30:00+00:00,D,-1,12.5,0.0,0.00636
4,2009-05-08 12:30:00+00:00,A,1,38.3,7.0,0.00668
5,2009-06-05 12:30:00+00:00,B,-1,13.6,25.8,0.00498
6,2009-08-07 12:30:00+00:00,A,1,18.3,6.8,0.00704
7,2009-09-04 12:30:00+00:00,A,-1,4.6,0.4,0.00344
8,2009-10-02 12:30:00+00:00,C,1,2.8,5.0,0.00356
9,2009-11-06 13:30:00+00:00,A,-1,28.6,0.0,0.00464
10,2010-03-05 13:30:00+00:00,B,-1,9.4,0.0,0.00200
11,2010-04-02 12:30:00+00:00,A,-1,10.2,0.0,0.00180
12,2010-05-07 12:30:00+00:00,B,1,0.0,23.0,0.00342
13,2010-06-04 12:30:00+00:00,C,1,0.0,25.2,0.00510
14,2010-08-06 12:30:00+00:00,A,-1,5.8,0.0,0.00194
15,2010-09-03 12:30:00+00:00,B,-1,13.2,0.0,0.00382
16,2010-10-08 12:30:00+00:00,C,-1,3.6,16.0,0.00350
17,2010-11-05 12:30:00+00:00,A,1,0.4,4.4,0.00126
18,2010-12-03 13:30:00+00:00,D,-1,8.1,8.5,0.00406
19,2011-01-07 13:30:00+00:00,C,1,0.0,11.6,0.00316
20,2011-04-01 12:30:00+00:00,B,-1,8.7,3.6,0.00220
21,2011-09-02 12:30:00+00:00,B,1,2.6,3.6,0.00205
22,2011-11-04 12:30:00+00:00,B,1,0.0,20.6,0.00326
23,2012-01-06 13:30:00+00:00,A,-1,7.4,15.5,0.00296
24,2012-02-03 13:30:00+00:00,B,1,0.0,13.2,0.00161
25,2012-03-09 13:30:00+00:00,B,1,0.0,14.0,0.00242
26,2012-04-06 12:30:00+00:00,D,1,0.0,16.5,0.00419
27,2012-05-04 12:30:00+00:00,C,1,0.0,9.1,0.00185
28,2012-06-01 12:30:00+00:00,C,-1,42.5,2.8,0.01252
29,2012-07-06 12:30:00+00:00,C,1,3.0,6.6,0.00285
30,2012-08-03 12:30:00+00:00,A,-1,5.8,6.9,0.00202
31,2012-09-07 12:30:00+00:00,B,-1,4.1,10.6,0.00265
32,2012-10-05 12:30:00+00:00,B,1,3.7,5.1,0.00169
33,2012-12-07 13:30:00+00:00,B,1,0.5,1.3,0.00051
34,2013-01-04 13:30:00+00:00,B,-1,2.5,17.1,0.00320
35,2013-02-01 13:30:00+00:00,D,1,0.0,23.1,0.00482
36,2013-05-03 12:30:00+00:00,A,1,1.2,9.6,0.00168
37,2013-07-05 12:30:00+00:00,B,1,0.2,3.0,0.00192
38,2013-08-02 12:30:00+00:00,D,-1,7.0,0.0,0.00161
39,2013-10-22 12:30:00+00:00,D,1,10.8,4.4,0.00434
40,2013-12-06 13:30:00+00:00,B,-1,57.8,0.0,0.00757
41,2014-01-10 13:30:00+00:00,D,1,0.0,6.5,0.00120
42,2014-02-07 13:30:00+00:00,C,-1,6.8,0.2,0.00224
43,2014-03-07 13:30:00+00:00,A,1,1.2,6.0,0.00112
44,2014-04-04 12:30:00+00:00,A,1,0.7,3.0,0.00142
45,2014-05-02 12:30:00+00:00,A,1,36.6,2.7,0.00506
46,2014-06-06 12:30:00+00:00,B,-1,12.4,0.0,0.00224
47,2014-07-03 12:30:00+00:00,B,-1,2.8,3.4,0.00085
48,2014-08-01 12:30:00+00:00,D,-1,31.4,0.0,0.00504
49,2014-09-05 12:30:00+00:00,C,-1,6.5,1.2,0.00166
50,2014-10-03 12:30:00+00:00,A,1,4.9,6.1,0.00218
51,2014-11-07 13:30:00+00:00,B,-1,7.8,0.0,0.00164
52,2014-12-05 13:30:00+00:00,B,1,11.5,1.1,0.00352
53,2015-01-09 13:30:00+00:00,B,1,0.0,21.4,0.00640
54,2015-02-06 13:30:00+00:00,D,-1,2.2,12.2,0.00193
55,2015-03-06 13:30:00+00:00,A,-1,1.2,25.4,0.00377
56,2015-04-03 12:30:00+00:00,D,1,7.4,8.2,0.00736
57,2015-05-08 12:30:00+00:00,C,1,14.8,11.0,0.01296
58,2015-06-05 12:30:00+00:00,A,-1,59.6,0.0,0.01184
59,2015-08-07 12:30:00+00:00,C,-1,10.9,11.6,0.00510
60,2015-09-04 12:30:00+00:00,C,-1,5.2,0.0,0.00176
61,2015-10-02 12:30:00+00:00,C,1,2.6,12.1,0.00558
62,2015-11-06 13:30:00+00:00,A,1,0.0,19.1,0.00389
63,2016-01-08 13:30:00+00:00,B,-1,0.5,9.5,0.00284
64,2016-02-05 13:30:00+00:00,D,1,17.5,2.6,0.00328
65,2016-04-01 12:30:00+00:00,B,1,0.0,38.4,0.00497
66,2016-09-02 12:30:00+00:00,D,-1,10.3,0.0,0.00351
67,2016-11-04 12:30:00+00:00,C,-1,44.0,0.0,0.00658
68,2016-12-02 13:30:00+00:00,A,-1,3.0,2.5,0.00101
69,2017-01-06 13:30:00+00:00,C,-1,3.0,5.0,0.00116
70,2017-02-03 13:30:00+00:00,A,1,0.0,4.9,0.00222
71,2017-03-10 13:30:00+00:00,B,1,0.0,6.7,0.00144
72,2017-04-07 12:30:00+00:00,D,-1,26.5,0.0,0.00418
73,2017-05-05 12:30:00+00:00,A,-1,11.0,0.0,0.00212
74,2017-06-02 12:30:00+00:00,D,1,0.0,5.9,0.00153
75,2017-07-07 12:30:00+00:00,A,-1,24.8,10.8,0.00530
76,2017-09-01 12:30:00+00:00,D,1,4.2,1.3,0.00150
77,2018-01-05 13:30:00+00:00,D,1,0.0,53.2,0.00618
78,2018-02-02 13:30:00+00:00,A,-1,44.9,2.5,0.00583
79,2018-03-09 13:30:00+00:00,A,-1,14.2,0.0,0.00278
80,2018-04-06 12:30:00+00:00,D,1,0.0,12.8,0.00270
81,2018-05-04 12:30:00+00:00,C,-1,45.8,0.0,0.00654
82,2018-07-06 12:30:00+00:00,B,1,0.0,12.0,0.00316
83,2018-08-03 12:30:00+00:00,D,1,2.9,3.8,0.00125
84,2018-09-07 12:30:00+00:00,A,1,0.0,6.8,0.00148
85,2018-10-05 12:30:00+00:00,D,1,0.5,4.0,0.00159
86,2018-12-07 13:30:00+00:00,D,1,0.0,3.0,0.00111

In [76]:
def operacion(x):
    """Param x:DataFrame
       Return x:DataFrame con columna de clase"""

    x["operacion"] = x["escenario"]
    x["sl"] = x["escenario"]
    x["tp"] = x["escenario"]
    x["volumen"]= x["escenario"]

    for i in range(len(x["escenario"])):
        if x["escenario"][i] == "A" :
            x["operacion"][i] = "Compra"
            x["sl"][i]=  round((prombaj_A_m + prombaj_A_M) / 2 )
            x["tp"][i]=  round((promalc_A_m + promalc_A_M) / 2 )
            x["volumen"][i]= 135500
        elif x["escenario"][i] == "B":
            x["operacion"][i] = "Compra"
            x["sl"][i]=  round((prombaj_B_m + prombaj_B_M) / 2 )
            x["tp"][i]=  round((promalc_B_m + promalc_B_M) / 2 )
            x["volumen"][i]=  232500
        elif x["escenario"][i] == "C":
            x["operacion"][i] = "Compra"
            x["sl"][i]=  round((prombaj_C_m + prombaj_C_M) / 2 )
            x["tp"][i]=  round((promalc_C_m + promalc_C_M) / 2 )
            x["volumen"][i]= 232500
        elif x["escenario"][i] == "D":
            x["operacion"][i] = "Venta"
            x["sl"][i]=  round((promalc_D_m + promalc_D_M) / 2 )
            x["tp"][i]=  round((prombaj_D_m + prombaj_D_M) / 2 )
            x["volumen"][i]= 185000
    return x

In [77]:
df_dec= operacion(df_escenarios)

In [78]:
df_decisiones= df_dec[["escenario", "operacion", "sl", "tp", "volumen"]].drop_duplicates().reset_index(drop=True)
df_decisiones.head()
#"ganadora" if c > 0  else "perdedora"

  escenario operacion  sl  tp volumen
0         C    Compra  11  19  232500
1         D     Venta  13  23  185000
2         A    Compra  11  25  135500
3         B    Compra  16  25  232500

In [79]:
def calculo(x,y):
    
    x["resultado"]= x["volumen"]
    x["pips"]= x["volumen"]
    x["capital"]= x["volumen"] 
    
    capital= 100000 
    
    for i in range(len(x)):
        m = y[i]
       
        for j in range(len(m.iloc[6:])):
            
            if x["operacion"][i] == "Compra" :
            
                if ((x["tp"][i])/10000) + m.iloc[int(len(m)/2)]["open"] >= m.iloc[j]["high"]  or ((x["sl"][i])/10000) - m.iloc[int(len(m)/2)]["open"] <= m.iloc[j]["low"]  :
                    if ((x["tp"][i])/10000) + m.iloc[int(len(m)/2)]["open"] >=  m.iloc[j]["high"] :
                        a=   m.iloc[int(len(m)/2)]["open"]                  
                        b= ((x["tp"][i])/10000) + m.iloc[int(len(m)/2)]["open"] 
                        c= x["volumen"][i]*b - x["volumen"][i]*a
                        x["resultado"][i] = 1
                        x["pips"][i]= (b-a)*10000
                        x["capital"][i] = capital + c 
                    else :
                        a= m.iloc[int(len(m)/2)]["open"]
                        b= m.iloc[int(len(m)/2)]["open"]- ((x["sl"][i])/10000)  
                        c= x["volumen"][i]* a - x["volumen"][i]* b 
                        x["resultado"][i] = 2 
                        x["pips"][i]= (a-b)/10000
                        x["capital"][i] = capital + c                         
                else :
                    a= m.iloc[int(len(m)/2)]["open"]   
                    b= m.iloc[int(len(m)/2)]["close"] 
                    c= x["volumen"][i]*a  - x["volumen"][i]*b
                    x["resultado"][i] = 3
                    x["pips"][i]= (a-b)*10000
                    x["capital"][i] = capital + c       
            
            elif x["operacion"][i] == "Venta" : 
            
                if (( m.iloc[int(len(m)/2)]["open"] - x["tp"][i])/10000)  >=  m.iloc[j]["high"]  or  ((x["sl"][i])/10000) + m.iloc[int(len(m)/2)]["open"]  <= m.iloc[j]["low"] :
                    if  ((x["tp"][i])/10000) - m.iloc[int(len(m)/2)]["open"] >= m.iloc[j]["high"]  :
                        a= m.iloc[int(len(m)/2)]["open"]                  
                        b=  m.iloc[int(len(m)/2)]["open"] - ((x["tp"][i])/10000)  
                        c= x["volumen"][i]*a - x["volumen"][i]*a
                        x["resultado"][i] = 4 
                        x["pips"][i]= (b-a)*10000
                        x["capital"][i] = capital + c 
                    else :
                        a= m.iloc[int(len(m)/2)]["open"] 
                        b=((x["sl"][i])/10000) + m.iloc[int(len(m)/2)]["open"] 
                        c= x["volumen"][i]* a - x["volumen"][i]*b
                        x["resultado"][i] = 5
                        x["pips"][i]= (a-b)*10000
                        x["capital"][i] = capital + c                         
                else :
                    
                    a= m.iloc[int(len(m)/2)]["open"]   
                    b= m.iloc[int(len(m)/2)]["close"] 
                    c= x["volumen"][i]*a - x["volumen"][i]*b
                    x["resultado"][i] = 6
                    x["pips"][i]= (a-b)*10000
                    x["capital"][i] = capital + c       

  
    return x

In [80]:
df_backtest= calculo(df_dec,Nonfarmper)

In [81]:
df_backtest

,timestamp,escenario,direccion,alcista,bajista,volatilidad,operacion,sl,tp,volumen,resultado,pips,capital
0,2009-01-09 13:30:00+00:00,C,1,8.2,2.1,0.00419,Compra,11,19,232500,1,19,100442
1,2009-02-06 13:30:00+00:00,C,1,3.8,3.6,0.00366,Compra,11,19,232500,1,19,100442
2,2009-03-06 13:30:00+00:00,C,1,0.0,16.8,0.00559,Compra,11,19,232500,1,19,100442
3,2009-04-03 12:30:00+00:00,D,-1,12.5,0.0,0.00636,Venta,13,23,185000,6,-3.8,99929.7
4,2009-05-08 12:30:00+00:00,A,1,38.3,7.0,0.00668,Compra,11,25,135500,1,25,100339
5,2009-06-05 12:30:00+00:00,B,-1,13.6,25.8,0.00498,Compra,16,25,232500,1,25,100581
6,2009-08-07 12:30:00+00:00,A,1,18.3,6.8,0.00704,Compra,11,25,135500,1,25,100339
7,2009-09-04 12:30:00+00:00,A,-1,4.6,0.4,0.00344,Compra,11,25,135500,1,25,100339
8,2009-10-02 12:30:00+00:00,C,1,2.8,5.0,0.00356,Compra,11,19,232500,1,19,100442
9,2009-11-06 13:30:00+00:00,A,-1,28.6,0.0,0.00464,Compra,11,25,135500,1,25,100339
10,2010-03-05 13:30:00+00:00,B,-1,9.4,0.0,0.00200,Compra,16,25,232500,1,25,100581
11,2010-04-02 12:30:00+00:00,A,-1,10.2,0.0,0.00180,Compra,11,25,135500,1,25,100339
12,2010-05-07 12:30:00+00:00,B,1,0.0,23.0,0.00342,Compra,16,25,232500,1,25,100581
13,2010-06-04 12:30:00+00:00,C,1,0.0,25.2,0.00510,Compra,11,19,232500,1,19,100442
14,2010-08-06 12:30:00+00:00,A,-1,5.8,0.0,0.00194,Compra,11,25,135500,1,25,100339
15,2010-09-03 12:30:00+00:00,B,-1,13.2,0.0,0.00382,Compra,16,25,232500,1,25,100581
16,2010-10-08 12:30:00+00:00,C,-1,3.6,16.0,0.00350,Compra,11,19,232500,1,19,100442
17,2010-11-05 12:30:00+00:00,A,1,0.4,4.4,0.00126,Compra,11,25,135500,1,25,100339
18,2010-12-03 13:30:00+00:00,D,-1,8.1,8.5,0.00406,Venta,13,23,185000,6,-8.3,99846.5
19,2011-01-07 13:30:00+00:00,C,1,0.0,11.6,0.00316,Compra,11,19,232500,1,19,100442
20,2011-04-01 12:30:00+00:00,B,-1,8.7,3.6,0.00220,Compra,16,25,232500,1,25,100581
21,2011-09-02 12:30:00+00:00,B,1,2.6,3.6,0.00205,Compra,16,25,232500,1,25,100581
22,2011-11-04 12:30:00+00:00,B,1,0.0,20.6,0.00326,Compra,16,25,232500,1,25,100581
23,2012-01-06 13:30:00+00:00,A,-1,7.4,15.5,0.00296,Compra,11,25,135500,1,25,100339
24,2012-02-03 13:30:00+00:00,B,1,0.0,13.2,0.00161,Compra,16,25,232500,1,25,100581
25,2012-03-09 13:30:00+00:00,B,1,0.0,14.0,0.00242,Compra,16,25,232500,1,25,100581
26,2012-04-06 12:30:00+00:00,D,1,0.0,16.5,0.00419,Venta,13,23,185000,6,9.1,100168
27,2012-05-04 12:30:00+00:00,C,1,0.0,9.1,0.00185,Compra,11,19,232500,1,19,100442
28,2012-06-01 12:30:00+00:00,C,-1,42.5,2.8,0.01252,Compra,11,19,232500,2,1.1e-07,100256
29,2012-07-06 12:30:00+00:00,C,1,3.0,6.6,0.00285,Compra,11,19,232500,1,19,100442
30,2012-08-03 12:30:00+00:00,A,-1,5.8,6.9,0.00202,Compra,11,25,135500,1,25,100339
31,2012-09-07 12:30:00+00:00,B,-1,4.1,10.6,0.00265,Compra,16,25,232500,1,25,100581
32,2012-10-05 12:30:00+00:00,B,1,3.7,5.1,0.00169,Compra,16,25,232500,1,25,100581
33,2012-12-07 13:30:00+00:00,B,1,0.5,1.3,0.00051,Compra,16,25,232500,1,25,100581
34,2013-01-04 13:30:00+00:00,B,-1,2.5,17.1,0.00320,Compra,16,25,232500,1,25,100581
35,2013-02-01 13:30:00+00:00,D,1,0.0,23.1,0.00482,Venta,13,23,185000,6,3,100056
36,2013-05-03 12:30:00+00:00,A,1,1.2,9.6,0.00168,Compra,11,25,135500,1,25,100339
37,2013-07-05 12:30:00+00:00,B,1,0.2,3.0,0.00192,Compra,16,25,232500,1,25,100581
38,2013-08-02 12:30:00+00:00,D,-1,7.0,0.0,0.00161,Venta,13,23,185000,6,-1.7,99968.5
39,2013-10-22 12:30:00+00:00,D,1,10.8,4.4,0.00434,Venta,13,23,185000,6,2,100037
40,2013-12-06 13:30:00+00:00,B,-1,57.8,0.0,0.00757,Compra,16,25,232500,2,1.6e-07,100372
41,2014-01-10 13:30:00+00:00,D,1,0.0,6.5,0.00120,Venta,13,23,185000,6,1.2,100022
42,2014-02-07 13:30:00+00:00,C,-1,6.8,0.2,0.00224,Compra,11,19,232500,1,19,100442
43,2014-03-07 13:30:00+00:00,A,1,1.2,6.0,0.00112,Compra,11,25,135500,1,25,100339
44,2014-04-04 12:30:00+00:00,A,1,0.7,3.0,0.00142,Compra,11,25,135500,1,25,100339
45,2014-05-02 12:30:00+00:00,A,1,36.6,2.7,0.00506,Compra,11,25,135500,2,1.1e-07,100149
46,2014-06-06 12:30:00+00:00,B,-1,12.4,0.0,0.00224,Compra,16,25,232500,1,25,100581
47,2014-07-03 12:30:00+00:00,B,-1,2.8,3.4,0.00085,Compra,16,25,232500,1,25,100581
48,2014-08-01 12:30:00+00:00,D,-1,31.4,0.0,0.00504,Venta,13,23,185000,6,-27.3,99495
49,2014-09-05 12:30:00+00:00,C,-1,6.5,1.2,0.00166,Compra,11,19,232500,1,19,100442
50,2014-10-03 12:30:00+00:00,A,1,4.9,6.1,0.00218,Compra,11,25,135500,1,25,100339
51,2014-11-07 13:30:00+00:00,B,-1,7.8,0.0,0.00164,Compra,16,25,232500,1,25,100581
52,2014-12-05 13:30:00+00:00,B,1,11.5,1.1,0.00352,Compra,16,25,232500,1,25,100581
53,2015-01-09 13:30:00+00:00,B,1,0.0,21.4,0.00640,Compra,16,25,232500,1,25,100581
54,2015-02-06 13:30:00+00:00,D,-1,2.2,12.2,0.00193,Venta,13,23,185000,6,-2.4,99955.6
55,2015-03-06 13:30:00+00:00,A,-1,1.2,25.4,0.00377,Compra,11,25,135500,1,25,100339
56,2015-04-03 12:30:00+00:00,D,1,7.4,8.2,0.00736,Venta,13,23,185000,6,8.2,100152
57,2015-05-08 12:30:00+00:00,C,1,14.8,11.0,0.01296,Compra,11,19,232500,1,19,100442
58,2015-06-05 12:30:00+00:00,A,-1,59.6,0.0,0.01184,Compra,11,25,135500,2,1.1e-07,100149
59,2015-08-07 12:30:00+00:00,C,-1,10.9,11.6,0.00510,Compra,11,19,232500,1,19,100442
60,2015-09-04 12:30:00+00:00,C,-1,5.2,0.0,0.00176,Compra,11,19,232500,1,19,100442
61,2015-10-02 12:30:00+00:00,C,1,2.6,12.1,0.00558,Compra,11,19,232500,1,19,100442
62,2015-11-06 13:30:00+00:00,A,1,0.0,19.1,0.00389,Compra,11,25,135500,1,25,100339
63,2016-01-08 13:30:00+00:00,B,-1,0.5,9.5,0.00284,Compra,16,25,232500,1,25,100581
64,2016-02-05 13:30:00+00:00,D,1,17.5,2.6,0.00328,Venta,13,23,185000,6,3,100056
65,2016-04-01 12:30:00+00:00,B,1,0.0,38.4,0.00497,Compra,16,25,232500,1,25,100581
66,2016-09-02 12:30:00+00:00,D,-1,10.3,0.0,0.00351,Venta,13,23,185000,6,-6.5,99879.8
67,2016-11-04 12:30:00+00:00,C,-1,44.0,0.0,0.00658,Compra,11,19,232500,1,19,100442
68,2016-12-02 13:30:00+00:00,A,-1,3.0,2.5,0.00101,Compra,11,25,135500,1,25,100339
69,2017-01-06 13:30:00+00:00,C,-1,3.0,5.0,0.00116,Compra,11,19,232500,1,19,100442
70,2017-02-03 13:30:00+00:00,A,1,0.0,4.9,0.00222,Compra,11,25,135500,1,25,100339
71,2017-03-10 13:30:00+00:00,B,1,0.0,6.7,0.00144,Compra,16,25,232500,1,25,100581
72,2017-04-07 12:30:00+00:00,D,-1,26.5,0.0,0.00418,Venta,13,23,185000,6,-13.1,99757.6
73,2017-05-05 12:30:00+00:00,A,-1,11.0,0.0,0.00212,Compra,11,25,135500,1,25,100339
74,2017-06-02 12:30:00+00:00,D,1,0.0,5.9,0.00153,Venta,13,23,185000,6,2.3,100043
75,2017-07-07 12:30:00+00:00,A,-1,24.8,10.8,0.00530,Compra,11,25,135500,2,1.1e-07,100149
76,2017-09-01 12:30:00+00:00,D,1,4.2,1.3,0.00150,Venta,13,23,185000,6,1,100018
77,2018-01-05 13:30:00+00:00,D,1,0.0,53.2,0.00618,Venta,13,23,185000,6,32,100592
78,2018-02-02 13:30:00+00:00,A,-1,44.9,2.5,0.00583,Compra,11,25,135500,1,25,100339
79,2018-03-09 13:30:00+00:00,A,-1,14.2,0.0,0.00278,Compra,11,25,135500,1,25,100339
80,2018-04-06 12:30:00+00:00,D,1,0.0,12.8,0.00270,Venta,13,23,185000,6,6.9,100128
81,2018-05-04 12:30:00+00:00,C,-1,45.8,0.0,0.00654,Compra,11,19,232500,2,1.1e-07,100256
82,2018-07-06 12:30:00+00:00,B,1,0.0,12.0,0.00316,Compra,16,25,232500,1,25,100581
83,2018-08-03 12:30:00+00:00,D,1,2.9,3.8,0.00125,Venta,13,23,185000,6,2.6,100048
84,2018-09-07 12:30:00+00:00,A,1,0.0,6.8,0.00148,Compra,11,25,135500,1,25,100339
85,2018-10-05 12:30:00+00:00,D,1,0.5,4.0,0.00159,Venta,13,23,185000,6,0.4,100007
86,2018-12-07 13:30:00+00:00,D,1,0.0,3.0,0.00111,Venta,13,23,185000,6,1.4,100026

### Prueba

In [82]:
prices_2 = pd.read_csv('precios_historicos_eurusd_2019.csv',header=0, index_col=None, parse_dates=False)
prices_2['timestamp'] = [pd.to_datetime(prices_2.iat[i,0]).tz_localize('GMT') for i in range(len(prices_2))] # Timestamp a 'GMT'

In [86]:
Nonfarm_2 = clase(Nonfarm)
Nonfarmper_2,Nonfarmt_2 = periodos(Nonfarm_2,prices_2)
Nonfarm_2 = metrica(Nonfarm_2,Nonfarmper_2,Nonfarmt_2)

In [87]:
df_2 = escenarios(Nonfarm_2,Nonfarmper_2,Nonfarmt_2)
df_escenarios_2= df_2[["timestamp","escenario","direccion","alcista", "bajista", "volatilidad" ]]
df_escenarios_2 = df_escenarios_2.reset_index(drop=True)

In [88]:
df_dec_2= operacion(df_escenarios_2)
df_decisiones_2= df_dec_2[["escenario", "operacion", "sl", "tp", "volumen"]].drop_duplicates().reset_index(drop=True)

In [89]:
df_prueba= calculo(df_dec_2,Nonfarmper_2)

In [90]:
df_prueba

,timestamp,escenario,direccion,alcista,bajista,volatilidad,operacion,sl,tp,volumen,resultado,pips,capital
0,2019-01-04 13:30:00+00:00,A,1,0.0,34.7,0.00446,Compra,11,25,135500,1,25,100339
1,2019-02-01 13:30:00+00:00,B,1,10.6,17.3,0.00319,Compra,16,25,232500,1,25,100581
2,2019-03-08 13:30:00+00:00,D,1,9.1,4.6,0.00264,Venta,13,23,185000,6,4.8,100089
3,2019-04-05 12:30:00+00:00,A,-1,9.4,9.2,0.00293,Compra,11,25,135500,1,25,100339
4,2019-05-03 12:30:00+00:00,B,1,6.6,8.4,0.00292,Compra,16,25,232500,1,25,100581
5,2019-06-07 12:30:00+00:00,D,-1,53.4,0.0,0.00571,Venta,13,23,185000,6,-35.4,99345.1
6,2019-07-05 12:30:00+00:00,A,1,0.0,29.7,0.00378,Compra,11,25,135500,1,25,100339
7,2019-08-02 12:30:00+00:00,B,-1,2.3,15.9,0.00287,Compra,16,25,232500,1,25,100581
8,2019-09-06 12:30:00+00:00,D,1,12.3,4.0,0.00239,Venta,13,23,185000,6,4.3,100080