___
<img style="float: right; margin: 0px 0px 15px 15px;" 
src="https://www.carrerasenlinea.mx/logos/original/logo-instituto-tecnologico-y-de-estudios
-superiores-de-occidente.png" width="150px" height="100px" />


# MICROESTRUCTURAS Y SISTEMAS DE "TRADING"
# LABORATORIO 4

## Nombres: Ana Laura Correa , Mariana Lopez, Jocelyn Medel

## Fecha: 8 / Diciembre / 2019

#### Propósito: 
Diseñar una estrategia de trading con base a la reacción del precio ante el comunicado de indicadores macroeconómicos (Análisis fundamental).

#### Librerias:

In [1]:
import pandas as pd
import numpy as np

#### Archivo de Precios Historicos

In [3]:
p = pd.read_csv('../precios_historicos_eurusd.csv',header=0, index_col=None, parse_dates=False)
p['timestamp'] = [pd.to_datetime(p.iat[i,0]).tz_localize('GMT') for i in range(len(p))] # Timestamp a 'GMT'
p.head()

                  timestamp     open     high      low    close
0 2009-01-06 05:00:00+00:00  1.35564  1.35565  1.35383  1.35439
1 2009-01-06 05:05:00+00:00  1.35443  1.35489  1.35424  1.35474
2 2009-01-06 05:10:00+00:00  1.35480  1.35552  1.35439  1.35539
3 2009-01-06 05:15:00+00:00  1.35545  1.35549  1.35101  1.35101
4 2009-01-06 05:20:00+00:00  1.35101  1.35130  1.35021  1.35086

#### Archivo de Calendario Economico

In [11]:
data = pd.read_csv('../calendario_economico.csv',header=0, index_col=None, parse_dates=False)
data['timestamp'] = [pd.to_datetime(data.iat[i,0]).tz_localize('GMT') for i in range(len(data))] # Timestamp a 'GMT'
data.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,2009-01-05 09:30:00+00:00,EUR,Sentix Investor Confidence,European Monetary Union,1,-34.4,-42.3,NaN
1,2009-01-05 15:00:00+00:00,USD,Construction Spending (MoM),United States,1,-1.2,-0.4,-1.3
2,2009-01-06 08:55:00+00:00,EUR,Markit Services PMI,Germany,1,46.6,46.4,46.4
3,2009-01-06 09:00:00+00:00,EUR,Markit Services PMI,European Monetary Union,0,42.1,42.0,42.0
4,2009-01-06 10:00:00+00:00,EUR,Consumer Price Index (YoY),European Monetary Union,2,1.6,2.1,1.8